<div class="card">
  <div class="card__info d-flex">
    <div class="card__avatar">
      <div>{{this.nameAbr}}</div>
      <!--<img src="assets/images/reviewer_photo.jpg" alt="avatar">-->
    </div>
    <div style="width: 100%">
      <div class="row ps-4">
        <div class="col-8">
          <p class="card__name">{{reviewItem.name}}
            <span class="card__date">
              <span class="divider">|</span> {{reviewItem.date}}
            </span>
          </p>
        </div>
        <div class="col-4" style="text-align: right">
          <app-stars class="stars" [rate] = reviewItem.rate></app-stars>
        </div>
      </div>
      <div class="row ps-4">
        <div class="col-12">
          <p class="card__text">{{reviewItem.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
