$yellow: #fff8c3;
$orange: #f19d7a;
$blue: #487ddc;
$white: #fff;
$creamy: #f1d1a9;
$olive: #97c880;

$main-background-color: #f7f1e2;

$main-text-color: #383838;
$form-text-color: #757575;
$secondary-text-color: #606060;

$input-border-color-main: #d0d0d0;
$input-border-color-hover: #a1a1a1;
$hover-duration: .3s;
