*{
  font-family: "Fivo-sans", sans-serif;
}
html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 16px;
  line-height: 1;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.page {
  &__header {
    background-size: cover !important;
    position: relative;
    padding: 0;

    & > * {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      background: rgb(0 0 0 / 50%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .row {
      height: calc(100vh - 303px); // header height + footer height
    }
  }
  &__title{
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    padding: 0;
    margin-bottom: 10px;
  }
  &__sub-title{
    font-size: 1.3rem;
    line-height: 1.3;
    color: #fff;
    padding: 0;
    margin-bottom: 0;
  }
}
app-product-card {
  margin: 0 -1rem;
}
.slick-dots {
  bottom: -30px !important;
}

@media screen and (max-width: 720px) {
  .page__header .row {
    height: calc(75vh - 303px);
  }
}
@media screen and (max-width: 600px) {
  app-product-card {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .page {
    &__header {
      .row {
        height: fit-content;
        padding: 10vh 0;
      }
    }
  }
}
.bs-datepicker-body .weeks tr> td:first-child, .bs-datepicker-body .weeks tr> th:first-child {
  display: none !important;
}

.bs-datepicker-body table td span.disabled, .bs-datepicker-body table td.disabled span {
  color: #e8e8e8;
}

@media (min-width: 992px) {
  .navbar .toggle-button{
    display: none;
  }
}

@media all and (max-width: 768px){
  .home {
    .searchbar{
      .search {
        width: 100% !important;
        padding: 10px !important;
        border-radius: 35px !important;
        .bar {
          flex-direction: row !important;
          flex-wrap: wrap;
          padding: 10px !important;
          span.guests {
            display: none !important;
          }
          .datepicker, .guests {
            padding: 0 !important;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .details__facilities {
    grid-template-columns: 1fr 1fr !important;
  }
}
