<app-preloader *ngIf="isLoading"></app-preloader>
<div class="properties">
  <section class="properties__head">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of roomDetails?.pictures" class="slide">
        <div class="card__photo"
             [style.background-image]="'url(' + (slide.large ? slide.large: (slide.original ? slide.original : slide.thumbnail)) + ')'">
          <img src="../../../assets/iconsInUse/placeholder-2.svg" alt="interior-photo">
        </div>
      </div>
    </ngx-slick-carousel>
    <button class="button button__next" (click)="next()">
      <img src="assets/iconsInUse/chevron-compact-right.svg" alt="chevron">
    </button>
    <button class="button button__prev" (click)="prev()">
      <img src="assets/iconsInUse/chevron-compact-left.svg" alt="chevron">
    </button>
  </section>

  <section *ngIf="roomDetails"
           class="properties__details details container-fluid d-flex justify-content-between px-4"
            [ngClass]="!isScreenLg ? 'align-items-center': ''"
  >
    <div class="properties__content">
      <h1 class="details__title mb-3">
        {{roomDetails.title}}
      </h1>
      <ul class="details__short pt-3 pb-5">
        <li>Accommodates {{roomDetails.accommodates}}</li>
        <li>Bathrooms {{roomDetails.bathrooms}}</li>
        <li>Bedrooms {{roomDetails.bedrooms}}</li>
        <li>Beds {{roomDetails.beds}}</li>
      </ul>
      <div class="like-card mb-5">
        <h3 class="details__topic">
          Description
        </h3>
        <p class="details__text">
          {{roomDetails.publicDescription.summary}}
        </p>
      </div>

      <div class="d-flex flex-column row-cols-2 like-card">
        <h3 class="details__topic">
          Facilities
        </h3>
        <ul class="details__facilities">
          <li *ngFor="let item of roomDetails.amenities">
            <img src="{{icons[item]}}"/>
            <div>{{item}}</div>
          </li>
        </ul>
      </div>

      <ng-container *ngIf="reviews.length">
        <h2 class="details__subtitle mt-4">
          Reviews from guests <span>{{reviews.length}}</span>
        </h2>
        <app-review-carousel [reviews] = reviews></app-review-carousel>
      </ng-container>

      <div class="properties__rules py-2 my-5">
        <h2 class="details__subtitle">
          Property Rules
        </h2>
        <ul class="details__rules">
          <li *ngFor="let rule of rules">
            {{rule}}
          </li>
        </ul>
      </div>

      <div class="like-card mb-5">
        <h2 class="details__subtitle">
          Disctrict and area
        </h2>
        <ul class="details__text">
          <li>{{roomDetails.address.city}}</li>
          <li>{{roomDetails.address.country}}</li>
          <li>{{roomDetails.address.street}}</li>
        </ul>
      </div>

      <app-aside-form
        *ngIf = !isScreenLg
        class="properties__form properties__form_aside"
        [price]=roomDetails.prices.basePrice
        [minNights]=roomDetails.terms.minNights
        [accommodates]=roomDetails.accommodates
      ></app-aside-form>

      <div class="like-card details__nearby">
        <h2 class="details__subtitle">
          Nearby Attractions
        </h2>
        <p *ngIf="roomDetails.publicDescription.access" class="details__nearby">
          {{roomDetails.publicDescription.access}}
        </p>
        <google-map
          height="500px"
          width="100%"
          [zoom]="zoom"
          [center]="coords"
          [options]="options"
        >
          <map-marker
            [position]="marker.position"
            [title]="marker.title"
            [options]="marker.options"
          >
          </map-marker>
        </google-map>
      </div>

      <div *ngIf="similarOffers && similarOffers.length > 0" [class.less]="!showMoreParam">
        <h2 class="details__subtitle mt-4" style="margin-bottom: -15px;">Similar Properties</h2>
        <app-product-card [products]="similarOffers"
                          class=" details__similar d-flex justify-content-start row-cols-1 row-cols-sm-2 row-cols-md-3 flex-wrap"
        >
        </app-product-card>
        <button (click)="showMore()" class="details__button ms-3" style="margin-left: 0 !important; margin-top: 10px !important;">
          {{showMoreParam ? 'Show less' : 'Show more'}}
        </button>
      </div>

    </div>
    <app-aside-form
      *ngIf = isScreenLg
      class="properties__form"
      [price]=roomDetails.prices.basePrice
      [minNights]=roomDetails.terms.minNights
      [accommodates]=roomDetails.accommodates
    ></app-aside-form>
  </section>
</div>
