.stars {
  display: flex;
  &__star {
    background-image: url('../../../assets/images/grey__star.svg');
    background-size: cover;
    width: 12px;
    height: 12px;
    line-height: 1.3;
  }
  &__number {
    font-size: 12px;
    line-height: 1.4;
  }
}
.stars--1 .stars__star:nth-child(1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('../../../assets/images/orange__star.svg');
}
