<div class="card__rate">
  <div *ngIf="rate === 0" class="stars--0 stars">
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <b class="ps-1 stars__number">{{rate}}</b>
  </div>
  <div *ngIf="rate === 1" class="stars--1 stars">
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <b class="ps-1 stars__number">{{rate}}</b>
  </div>
  <div *ngIf="rate === 2" class="stars--2 stars">
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <b class="ps-1 stars__number">{{rate}}</b>
  </div>
  <div *ngIf="rate === 3" class="stars--3 stars">
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <b class="ps-1 stars__number">{{rate}}</b>
  </div>
  <div *ngIf="rate === 4" class="stars--4 stars">
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <b class="ps-1 stars__number">{{rate}}</b>
  </div>
  <div *ngIf="rate === 5" class="stars--5 stars">
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <div class="stars__star"></div>
    <b class="ps-1 stars__number">{{rate}}</b>
  </div>
</div>
