<app-preloader *ngIf="isLoading"></app-preloader>
<div class="page" *ngIf="!isLoading">
  <div class="page__header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <p class="page__title">Roomy - Dubai holiday homes</p>
          <p class="page__sub-title">Our number one priority is to make you feel like home when in Dubai. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="page__content container">
    <div class="row">
      <div class="col">
        <h3><strong>Roomy - Dubai holiday homes</strong></h3>
        <p>Our number one priority is to make you feel like home when in Dubai.</p>
        <p>
          Providing high standard services, our guests will find roomies as the most comfortable holiday home platform.
        </p>
        <p>
          Whether you are looking for a short term rent for your holiday or business trip,
          with roomies you can find an apartment for all your needs.
        </p>
      </div>
    </div>
  </div>
</div>
