<app-preloader *ngIf="isLoading"></app-preloader>
<div class="page">
  <div class="page__header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <p class="page__title">How it works</p>
          <p class="page__sub-title">Everything you need to know about us</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page__content container">
    <div class="row">
      <div class="col">
        <h3><strong>Get in touch</strong></h3>
        <p>Contact roomy by either calling us, emailing us, or filling out our form so we call you.</p>
        <p>We will evaluate your home, and run a pricing algorithm to show your expected revenue.</p>

        <h3><strong>Photography & Styling</strong></h3>
        <p>
          Beautiful pictures are vital to attracting more guests. We will style and professionally
          photograph your home, ensuring it stands out on Airbnb and similar platforms.
        </p>
        <p>We will provide fresh hotel quality linens and towels, ensuring those 5-star reviews.</p>

        <h3><strong>Profile</strong></h3>
        <p>Our in-house writing guru will create the perfect profile for your home to be most appealing to guests.</p>
        <p>We will list your home on multiple Homestay platforms such as Airbnb, Homeaway, VRBO and others, managing the price daily to maximise occupancy and revenue.</p>

        <h3><strong>Guest Management</strong></h3>
        <p>Your home is sacred. We will provide careful guest vetting and checks, before and during arrival. We will scan and upload passports/IDs of all to the Dubai government.</p>
        <p>We handle check-in/check-out, guest communication before and during stay, provide welcome packs and hotel amenities – ensuring smooth stays and happy guests.</p>

        <h3><strong>Cleaning & Maintenance</strong></h3>
        <p>We provide a premium cleaning service between guest stays</p>
        <p>We deal with any arising maintenanceissues, and solve them quickly – ensuring your home is always in excellent condition. </p>

        <h3><strong>Property Management</strong></h3>
        <p>You will have personal access to the calendar, and full transparency about who is staying at your home and when. We manage your pricing daily, maximising your occupancy and revenue.</p>
        <p>For additional property management services (ex. interior design, paying bills) – <a [routerLink]="'../contacts'">Contact Us</a></p>
      </div>
    </div>
  </div>
</div>
